<div class="my-3 p-3 bg-body rounded shadow-sm">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est necessitatibus doloribus nesciunt,<br>
    mollitia asperiores natus similique tempore molestiae dicta, praesentium officia ex recusandae!<br>
    delectus incidunt totam obcaecati quae magni?</p>
    
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est necessitatibus doloribus nesciunt,<br>
    mollitia asperiores natus similique tempore molestiae dicta, praesentium officia ex recusandae!<br>
    delectus incidunt totam obcaecati quae magni?</p>
    
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est necessitatibus doloribus nesciunt,<br>
    mollitia asperiores natus similique tempore molestiae dicta, praesentium officia ex recusandae!<br>
    delectus incidunt totam obcaecati quae magni?</p>
    
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est necessitatibus doloribus nesciunt,<br>
    mollitia asperiores natus similique tempore molestiae dicta, praesentium officia ex recusandae!<br>
    delectus incidunt totam obcaecati quae magni?</p>
    
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est necessitatibus doloribus nesciunt,<br>
    mollitia asperiores natus similique tempore molestiae dicta, praesentium officia ex recusandae!<br>
    delectus incidunt totam obcaecati quae magni?</p>
</div>
